  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/messages">Messages</span></a></li>
        <li><a href="/actions">Actions</span></a></li>
        <li><a href="/about">About</a></li>
      </ul>
  </nav>
  </div>
  <br/>
  <div class="jumbotron"> <p>
    This is place to put content. You can put slider, short description about your website and place some links for navigation.
  </p>
  <p>
    <a href="#" class="btn btn-default btn-lg" role="button"> More Info</a>
  </p>
